<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <!-- DataTables css -->
    <link rel="stylesheet" href="/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="/datatables.net-buttons-bs/css/buttons.bootstrap.min.css"> 
    <link rel="stylesheet" href="/datatables.net-select-bs/css/select.bootstrap.min.css">
    <link rel="stylesheet" href="/datatables.net-responsive-bs/css/responsive.bootstrap.min.css">
    <!-- custom -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="layout-header">
      <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Example table</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class=""><a href="/tabledit">Tabledit</a></li>
                    <li class=""><a href="/bootstrapTable">Bootstrap-table</a></li>
                    <li class="active"><a href="/datatables">Datatables</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
      </nav>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <!-- <div id="toolbar">
            <form method="POST" action="javasctip:void(0)" id="Filter" class="form-inline">
              <div class="form-group">
                <a class="btn btn-sm btn-default" href="#add" data-toggle="modal">
                    <i class="glyphicon glyphicon-plus"></i> 
                </a>
              </div>
              <div class="form-group">
                <label class="sr-only" for="filter">Filter</label>
                <div class="input-group">
                  <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
                  <input type="text" class="form-control input-sm" name="filter" placeholder="筛选条件">
                </div>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-sm">提交</button>
              </div>
              <div class="form-group">
                <div class="btn-group" id="localFilter">
                  <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    本地筛选 <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                      <li><a href="javascript:void(0)" data-filter="">全部</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="javascript:void(0)" data-filter="$1">$1</a></li>
                      <li><a href="javascript:void(0)" data-filter="$2">$2</a></li>
                      <li><a href="javascript:void(0)" data-filter="$10">$10</a></li>
                      <li><a href="javascript:void(0)" data-filter="$20">$20</a></li>
                  </ul>
                </div>
              </div>
            </form>
          </div> -->
          <table id="table" class="table table-bordered table-striped responsive nowrap display" style="width: 100%">
            <thead>
              <tr>
                <th></th>
                <th>ID</th>
                <th>Item name</th>
                <th>Item price</th>
                <th>列1</th>
                <th>列2</th>
                <th>列3</th>
                <th>列4</th>
                <th>操作</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>

    <!-- jQuery 3 -->
    <script src="/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- DataTables -->
    <script src="/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <!-- DataTable buttons -->
    <script src="/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/datatables.net-buttons/js/buttons.print.min.js"></script>

    <!-- datatables select  -->
    <script src="/datatables.net-select/js/dataTables.select.min.js"></script>
    <script src="/datatables.net-select-bs/js/select.bootstrap.min.js"></script>

    <!-- datatables responsive -->
    <script src="/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/datatables.net-responsive-bs/js/responsive.bootstrap.min.js"></script>

    <!-- custom -->
    <script>
      $(function(){
        // datatables
        $.fn.dataTable.ext.buttons.reload = {
            text: '<i class="fa fa-refresh"></i>',
            action: function ( e, dt, node, config ) {
                dt.ajax.reload();
            }
        };
        var table = $('#table').DataTable({
            // dom: '<"pull-right"i>t<"pull-left"B><"pull-right"p><"clear">',
            // pagingType: "numbers",
            // lengthMenu: [[10, 20, 50, -1], [10, 20, 50, "All"]],
            buttons: [
                'reload', 
                {
                    text: '<i class="fa fa-file-excel-o"></i>',
                    extend: 'excel'
                }
            ],
            ajax: {
                url: '/json/data.json',
                dataSrc: ''
            },
            columns: [
                { "data": null, sortable: false, defaultContent: '' , responsivePriority:  2},
                { "data": "id" },
                { "data": "name", responsivePriority:  1},
                { "data": "price" , responsivePriority:  3},
                { "data": "column1" },
                { 'data': "column2" },
                { "data": "column3" },
                { "data": "column4" },
                { "data": null , defaultContent: '' ,responsivePriority: 4}
            ],
            columnDefs: [
                {
                    targets: -1,
                    // visible: false,
                    sortable: false,
                    render: function(data, type, row){
                        return '<a href="#" title="详情">' + 
                        '<i class="glyphicon glyphicon-eye-open"></i> ' + 
                        '</a>'+ 
                        '<a href="#editProject" data-toggle="modal" data-id="' + row.p_id +'" title="修改">' + 
                        '<i class="glyphicon glyphicon-pencil"></i> ' + 
                        '</a>'+
                        '<a href="#delProject" data-toggle="modal" data-id="' + row.p_id +'" title="删除">' +
                        '<i class="glyphicon glyphicon-trash text-danger"></i> ' + 
                        '</a>';
                    }
                }
            ],
            order: [[ 2, "asc" ]],
            language: {
                url: '/json/Chinese.json'
            }
        });
        // 编辑modal
        $('#editProject').on('show.bs.modal', function(e){
            var button = $(e.relatedTarget); 
            var id = button.data('id');
            $.ajax();   // 编辑操作
        });
        $('#delProject').on('show.bs.modal', function(e){
            var button = $(e.relatedTarget); 
            var id = button.data('id');
            $.ajax();   // 删除操作
        });
        // data 日期后台筛选
        var $projectListFilter = $('#projectListFilter');
        $projectListFilter.submit(function(e){
            e.preventDefault();
            var dateRange = $('#dateRange').val();
            var startDate = dateRange.split('-')[0].trim();
            var endDate = dateRange.split('-')[1].trim();
            console.log('开始日期：%s, 结束日期：%s',startDate,endDate);
            table.ajax.url('/d/project/list?startDate='+ startDate + '&endDate='+ endDate).load();
        });
        // data 学院筛选
        $('#academyFilter li a').click(function(e){
            e.preventDefault();
            var academy = $(this).data('academy');
            table.search(academy).draw();
        });
      });
    </script>
  </body>
</html>
